/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/*Header*/
h1{
    float: left;
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
}

nav li{
    padding: 8px;
    display: inline-block;
    font-size: 18px;
}

nav li a:link , a:visited{
    text-decoration: none;
}

/*Overview Section*/
.overview-hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview-hero{
    padding-top: 50px;
    padding-bottom: 50px;

}

.overview-hero h2{
    padding-left: 50px;
}

.overview-hero p{
    padding-left: 50px;
    margin-right: 260px;
}

/*Learn About Section*/
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    padding-bottom: 40px;
}

.card h3{
    padding-left: 10px;
    padding-right: 10px;
}

.card p{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -8px;
}

/*Testing Section*/

.testing .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testing-desciption{
    margin-right: 350px;
}

.testing-desciption .cta{
    margin-left: 60px;
}

/*Recent Stories Section*/
.stories article{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.stories h3,p{
    padding-left: 25px;
}

.stories h3{
    margin-right: 240px;
    
}

.stories p{
    margin-right: 180px;
}

.stories img{
    margin-right: 20px;
}

.stories{
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Newsletter Section*/
.newsletter{
    padding-bottom: 50px;
}
.newsletter .container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newsletter .btn{
    height: 40px;
    width: 120px;
}

/*Footer
footer .container{
    padding-top: 10px;
    padding-bottom: 10px;
}
*/