/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

h1{
    float: left;
}

/*In order to overcome this problem, as the best practice is to float the ul to the right, and li to the left*/
ul{
    list-style-type: none; /*Removes the bullets. A navigation bar does not need list markers*/
    /*margin: 0;
    padding: 0;*/
    float: right;
}

ul li{
    float: left;
    padding: 8px;
}
 
.overview-hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.overview-hero-image{
    margin: 40px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*place section in 3 columns*/
    grid-gap: 10px;
}


.testing .testing-desciption{
    margin-right: 150px;
}

.testing .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.stories .container .article-body{
    display: flex;
    flex-direction: column;
    justify-content: left;
}*/

.stories .img{
    margin: 10px;
    border-radius: 50%;
}

.stories .container .article{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    display: flex;
    align-items: center;
    justify-content: center;

}
.newsletter .container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


/*.newsletter .container .input {
    float: left;
    margin-right:10px;
    margin-bottom: 5px;
}*/